# FPGA-Based Fetal Heartbeat Detection using PCG Signals

## Overview
This project implements signal denoising and real-time fetal heartbeat detection using PCG signals on FPGA.

## Tools Used
- MATLAB
- Intel Quartus Prime

## Files
- Verilog modules for FPGA design
- MATLAB scripts for preprocessing
- PCG signal datasets

## Applications
- Fetal health monitoring
- Biomedical signal processing
